NEXT_PUBLIC_SERVER_LOCATION=London, UK
NEXT_PUBLIC_SERVER_ASN=AS13335 (Cloudflare, Inc.)
NEXT_PUBLIC_SERVER_V4=1.1.1.1
NEXT_PUBLIC_SERVER_V6=2606:4700:4700::1111

NEXT_PUBLIC_NAME=Change me
NEXT_PUBLIC_DESCRIPTION=Check our Looking Glass!
NEXT_PUBLIC_URL=http://localhost:3000
